body {
    background-color: #ffd9d9;
    color: #800020;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 600px;
    width: 50%;
    flex: 1 1 auto;
    aspect-ratio: 3/2;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.flex:nth-child(odd) {
    flex-direction: row-reverse;
}

.flex div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

ul {
    list-style: none;
    /* Убирает маркеры (точки, цифры) */
}

ul p {
    text-align: center;
}

button {
    background: #800020;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: #ffd9d9;

}

button:hover {
    background: #c5516e;
}

button a {
    font-size: 14px;
    text-decoration: none;
    color: #ffd9d9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    background: #ffd9d9;
    border-radius: 10px;
    border: 1px solid #800020;
    padding: 6px 12px;
    margin-top: 6px;
}

.text_center {
    text-align: center;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    flex: 1 1 auto;
    width: 45%;
    aspect-ratio: initial;
    height: auto;
}